.admin__container__buttons a {
    color: #31a2b1;
    display: block;
    margin: .5rem 0;
    text-decoration: none;
    border-radius: .3rem;
    padding: .5rem;
    width: 20%;
    text-align: center;
    border: 0.13rem solid currentColor;
    transition: .2s;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 1rem;
}

.admin__container__buttons a:hover {
    color: rgb(223, 223, 223);
    border-color: #31a2b1;
    background-color: #31a2b1;
}